<div class="container">
    <div class="card">

        <!--CABECERA DE LOS GRANDES GENERADORES-->
        <div class="card-header">
            <h3 class="izquierda">Grandes Generadores</h3>
            <button (click)="agregarGenerador()" [disabled]=botonDisabled class="btn btn-success derecha">Agregar nuevo</button>
        </div>
        <!--TABLA DE LOS GRANDES GENERADORES-->

        <div *ngIf="banderaGenerador" class="card-body nuevo">
            <div class="container-fluid">
                <app-agregar-generador></app-agregar-generador>
            </div>
        </div>
        <div class="card-body"> 
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>TIPO</th>
                        <th>CALLE</th>
                        <th>ALTURA</th>
                        <th>ACCIÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let generador of generadores" class="text-center">
                        <td>{{generador.id}}</td>
                        <td>{{generador.nombre}}</td>
                        <td>{{generador.tipo}}</td>
                        <td>{{generador.calle}}</td>
                        <td>{{generador.altura}}</td>
                        <td>
                            <button class="btn btn-warning">Editar</button>
                            <button class="btn btn-danger">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>